.photo {
  width: 37.5rem;
  height: 37.5rem;
  border: 1px solid black;
}

.user-picture {
  width: 3.125rem;
}

.user-picture img {
  width: 100%;
}

.header {
  display: flex;
  border-bottom: 1px solid black;
}

.content img {
  width: 100%;
}
